.about_container {
    padding: 30px 10px 30px 10px;
    background-color: #F5F5F5;
    width: 350px;
}

.boss {
    color: #FC134F;
    font-weight: bold;
    font-family: 'DungGeunMo';
    font-size: 40px;
}
p,h4{
    font-family: 'DungGeunMo';
}
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
