{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<body>
<h1>{{post.title}}</h1>
<br>
작성자 : {{post.writer}}
<br>
참여미션 : {{post.mission_number.mission_name}}
<br>
작성날짜 : {{post.created_at|date:"y/m/j g시 i분"}}
<br>
이미지 : 
<br>
<img src="{{post.content.url}}" alt="이미지" width="452" height="254"/>
<br>
URL :
<br>
<iframe width="452" height="254" src="{{post.urlcontent}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
{{post.description|linebreaks}}
<br> 
<br>
투표 수 : {{ post.votelike.count}}
<br>
<br>
{% if user.is_authenticated %}
남은 투표 수 : {{request.user.profile.votes}}
<br>
<br>
{% endif %}

{% if post.writer != request.user %}
    {% if vote %}
        <a href="{% url 'postvote' post.id %}">투표취소</a>
    {% elif request.user.profile.votes == 0 %}
        <a href="{% url 'postvote' post.id %}" onclick="alert('모든 표가 소진되었습니다!')">투표하기</a>
    {% elif post.writer == request.user %}
        <a href="{% url 'postvote' post.id %}">투표하기</a>
    {% endif %}
{% endif %}
{% if post.writer == request.user %}
<a href="{% url 'postdelete' post.id %}" onclick="return confirm('삭제하시겠습니까?')">삭제하기</a>
{% else %}
{% endif %}

<a href="{% url 'index' %}">메인으로</a>
{% endblock %}  
</div>  
