.border_1{
    border-bottom: 2px solid #D3D3D3;
    margin: 10px 50px 10px 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.border_2{
    border-bottom: 1px solid #FC134F;
    margin: 10px 20px 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card{
    border-radius: 25px;
    margin-left:70px;
    margin-right:70px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.title_1{
    color: #FC134F;
    font-weight: bold;
    font-family: 'DungGeunMo';
    font-size: 50px;
}


.title_2{
    color: #FC134F;
    font-weight: bold;
    font-family: 'DungGeunMo';
    font-size: 30px;
}



a:hover {
    color: #FC134F;
}

input[type=submit] {
    color: white;
    background-color: #FC134F;
    border: none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'DungGeunMo';
}



table {
    border: #FC134F;
}

h2,h3{
    font-family: 'DungGeunMo';
}
p{
    font-family: 'DungGeunMo';
    text-align: left;
    margin-left: 52px;
}
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Sam3KRFont'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff'); font-weight: normal; font-style: normal; }

.idea_container {
    padding: 10px 20px 10px 20px;
    background-color: white;
    width: 500px;
}