{% extends "base.html" %}
{% block content %}
<div align="center">
    
    <br>
    <h2><img src="pixel_lightbulb.png"> 다음 <span style="color: #FC134F; font-weight: bold;">MISSION</span>은?</h2>
    <br>
    <h4>보스 여러분들의 빛나는 아이디어를 적어주세요!!</h4>
    <br>

    <style>
        ul.idealist{
            list-style-type: none;
            border-bottom: 1px solid #FC134F;
            width: 300px;
            padding: 10px;
            margin: auto;
        }
    </style>

<body>
    {% for idea in ideas %}
    <ul class="idealist">
        <li><a href="{% url 'ideashow' idea.id %}">{{idea.title}}</a></li>
    </ul>
    <br>
    {% endfor %}
    <br>
    <br>
    {% if user.is_authenticated %}
    <a href="{% url 'ideacreate' %}">등록하기</a>
    {% else %}
    {% endif %}
    <a href="{% url 'index' %}">메인화면으로 돌아가기</a>
    <br>
    <br>
</body>
</div>

{% endblock content %}