{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'mission/mission_about.css' %}" />
{% endblock head %}

{% block content %}

<div align="center">

    <h1>
        <img src="{% static 'mission/img/favicon.png' %}" width=80px height=80px>
    </h1>
    <br>

    <div class="about_container">
        <h3><div style="font-weight: bold;"><div align="left">"세상에 숨어있는</div><br><div align="right">모든 <span class="boss">BOSS</span>들을 위한 서비스"</div></div></h3>
    </div>
    <br>
    <br>

    <p>보스대전은 주어진 미션을 수행해 1등이 되는 분께 상금을 주는 앱입니다...</p>

</div>

{% endblock content%} 