{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'mission/mission_about.css' %}" />
{% endblock head %}

{% block content %}

<div align="center">

    <h1>
        <img src="{% static 'mission/img/favicon.png' %}" width=80px height=80px>
    </h1>
    <br>

    <div class="about_container">
        <h3><div align="left">"세상에 숨어있는</div><br><div align="right">모든 보스들을 위한 서비스"</div></h3>
    </div>
    <br>
    <br>

    <p>보스대전에 관한 설명입니다!</p>

</div>

{% endblock content%} 