{% extends 'base.html' %}

{% block centername %}
명예의 전당
{% endblock centername %}

{% block content %}
{% load staticfiles %}
{% if error %}
{{ error }}
<br>
<br>
{% endif %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'mission/honors.css' %}" />
{% endblock head %}
<!--몇회차+제목
{% for first in 객체s.all %}
{% endfor %}
-->

<br><br>
<div align="center">
    <h1 style="font-family: 'Sam3KRFont';">명예의 전당</h1>
</div>

<br>

<div class="honorcard">
     
{% for mission, post in honor %}
    <span id="honor_mission">Mission: {{ mission.mission_name }}<br></span>
    
    <span id="honor_post">{{ post }}<br><br></span>

    <div align="right"><div class="button"><a href="#">자세히</a></div></div>
    <br>
    <br>
    
    <!--득표수+자세히-->
    
{% endfor %}
</div> 
{% endblock %}
