{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% if error %}
{{ error }}
<br>
<br>
{% endif %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'mission/honors.css' %}" />
{% endblock head %}
<!--몇회차+제목
{% for first in 객체s.all %}
{% endfor %}
-->

<h3>명예의 전당</h3>

<div class="honorcard">
{% for mission, post in honor %}
    <span id="honor_mission">Mission: {{ mission }}<br/></span>
    <span id="honor_post">{{ post }}<br/><br/></span>
    <!--득표수+자세히-->
    <button id="button"><a href="#">자세히</a></button> 
{% endfor %}
</div>
{% endblock %}    
</body>
