index

{% extends 'base.html' %}
{% block content %}

{% if Mission_end %}
<br>
<br>
{{ Mission_end }}
<br>
{% endif %}
<br>

{% for post in posts %}
<a href="{% url 'detail' post.id %}">{{post.title}} </a>

<br>
{% endfor %}
<br>
<br>

<a href="{% url 'signup' %}">회원가입</a>

{% if user.is_authenticated %}
<a href="{% url 'postcreate' %}">참가하기</a>
<form action="{% url 'logout' %}" method="POST">
{% csrf_token %}
<input type="submit" value = "로그아웃">
<!--<a href="{% url 'logout' %}">로그아웃</a>-->
</form>
{% else %}
<a href="{% url 'login' %}" onclick="return confirm('로그인을 한 후, \'참가하기\'가 가능합니다.')">참가하기</a>
{% endif %}

{% endblock content%}