{% extends 'base.html' %}
{% block content %}

{% if Mission_end %}
<br>
<br>
{{ Mission_end }}
<br>
{% endif %}

{% for m in mission  %}
<h1>{{m.mission_name}}</h1>
{% endfor %}

<a href="{% url 'ideaboard' %}">아이디어보드</a>
<br>
<a href="{% url 'honors' %}">명예의 전당</a>

<br>
<br>

{% for post in posts %}
<a href="{% url 'detail' post.id %}">{{post.title}} </a>
<br>
<img src="{{post.content.url}}" alt="이미지" width="150" height="90"/>
<hr>
<br>
{% endfor %}
<br>
 {% if posts.has_previous %}
  <a href="?page=1">First</a>
  <a href="?page={{posts.previous_page_number}}">Previous</a>
  {% else %}
  <button>First</button>
  <button>Previous</button>
  {% endif %}


  <span>{{posts.number}}</span>
  <span> of </span>
  <span>{{posts.paginator.num_pages}}</span>

  
  {% if posts.has_next %}
  <a href="?page={{posts.next_page_number}}">Next</a>
  <a href="?page={{posts.paginator.num_pages}}">Last</a>
  {% else %}
  <button>Next</button>
  <button>Last</button>
  {% endif %}
<br>
<br>
{% if user.is_authenticated %}
<a href="{% url 'postcreate' %}">참가하기</a>
<br>
<a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
<form action="{% url 'logout' %}" method="POST" id="logout">
{% csrf_token %}
<input type="hidden">
</form>
<br>

{% else %}
<a href="{% url 'signup' %}">회원가입</a>
<br>
<a href="{% url 'login' %}">로그인</a>
<br>
<a href="{% url 'login' %}" onclick="return confirm('로그인을 한 후, \'참가하기\'가 가능합니다.')">참가하기</a>
{% endif %}
{% endblock content%}