@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
    font-family: 'DungGeunMo' !important;
    margin: 0px;
}

.btn.main-btn {
    display: block;
    background-color: #FC134F;
    color: white;
    border-radius: 20px;
    font-size: 2.5rem;
    padding: 1.5rem;
}

.container_{
    margin: 50px 70px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(9, auto);
    grid-auto-columns: repeat(2, 1fr);
}
.box1 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2; 
  }
.box2 { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    font-size: 1.3rem;
  }

.box3 { 
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    text-align: right;
    font-size: 1.3rem;
  }

.box4 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }
.box5 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 4; 
    grid-row-end: 5; 
  }

.box6 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 5; 
    grid-row-end: 6; 
  }
.box7 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 6; 
    grid-row-end: 7; 
    font-size: 1.3rem;
    margin-top: 10px;
  }
.box8 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 7; 
    grid-row-end: 8; 
  }

.box9 { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 8; 
    grid-row-end: 9; 
    margin-top: 40px;
}

.box10 { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 9; 
    grid-row-end: 10; 
    text-align: left;
    margin-right: 2px;
  }

.box11 { 
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 9; 
    grid-row-end: 10; 
    height: 500px;
    text-align: right;
    margin-left: 10px;
  }

div.vote {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}

.img_{
    margin: 50px 0px;
    width: 100%;
    height: 40%;
}

iframe {
    width: 100%;
}