@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
    font-family: 'DungGeunMo' !important;
}

.btn.main-btn a, .btn.main-btn {
    display: block;
    background-color: #FC134F;
    color: white;
    border-radius: 10px;
    /*width: 90%;*/
    font-size: 3.5rem;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}


