{% extends 'base.html' %}
{% load staticfiles %}

{% block centername %}
보스대전
{% endblock centername %}

{% block head %}
   <link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock head %}

{% block content %}
{% if error %}
<span style="text-align: center;">{{ error }}<span>
<br>
<br>
{% endif %}
<img class= "login_star" src="{% static 'mission/img/boss.png' %}" alt="왜안돼ㅜ">
<h2>보스대전</h2>
<div class='login-form'>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <br>
    <span id='id'><input align='center' name="username" type="text" value="" placeholder="아이디" required='required'></span>
    <br> 
    <br>
    <span id='pwd'><input name="password" type="password" value="" placeholder="비밀번호" required='required'></span>
    <br>
    <br>
    <input type="submit" value="로그인">
</form>
</div>

{% endblock %}