{% extends 'base.html' %}
{% block content %}
{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Login</h1>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="" placeholder="아이디를 입력하세요." required='required'>
    <br>
    Password:
    <br>
    <input name="password" type="password" value="" placeholder="비밀번호를 입력하세요." required='required'>
    <br>
    <br>
    <input type="submit" value="Login">
</form>

{% endblock %}