{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block content %}
{% if pwerror %}
{{ pwerror }}
{% endif %}


    <h1>sign up</h1>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        Username:
        <br>
        <input type="text" id = 'username 'name ="username" value="" pattern="^[가-힣]{2,20}$" required='required' onkeyup='duplicationcheck()'>

        <br>
        <!--
        Email:
        <br>
        <input type="email" name="email" value="">
        <br>
         [a-zA-Z]\D{6,10}\d{2,6}
        -->
        Phonenumber:
        <br>
        <input type="text" name="phonenumber" inputmode='numeric' pattern='\d{3}-\d{3,4}-\d{4}' placeholder='ex)010-1234-1234' required='required'>
        <br>
        Password:
        <br>
       
        <input type="password" name="password1" pattern="^[A-Za-z0-9]{6,12}$" value="" required='required'>
        <br>
        Confirm Password:
        <br>
        <input type="password" name="password2" value="" required='required'>
        <br>
        <br>
        <input type="submit" value="sign up">
        </form>
{% endblock %}