{% extends 'base.html' %}
{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

    <h1>sign up</h1>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        Username:
        <br>
        <input type="text" name ="username" value="" required='required'>
        <br>
        <!--
        Email:
        <br>
        <input type="email" name="email" value="">
        <br>
        -->
        Phonenumber:
        <br>
        <input type="text" name="phonenumber" inputmode='numeric' pattern='\d{3}-\d{3,4}-\d{4}' placeholder='ex)010-1234-1234' required='required'>
        <br>
        Password:
        <br>
        <input type="password" name="password1" value="">
        <br>
        Confirm Password:
        <br>
        <input type="password" name="password2" value="">
        <br>
        <br>
        <input type="submit" value="sign up">
        </form>
{% endblock %}